.section
    &__cards
        margin-bottom: 8rem
        &__info
            margin-top: 2.214rem
            display: flex
            justify-content: space-between
        &__card
            position: relative
            margin-left: 3.5rem
            &__mozaica
                margin-left: 0
                margin-right: 10rem
            &__before
                position: absolute
                top: 0
                left: 0
            &__middle
                position: absolute
                z-index: 3
                left: 6.5rem
                top: 4.214rem
            &__before
                position: absolute
                left: 11.857rem
                top: 8.5rem
        &__text
            display: flex
            flex-direction: column
            justify-content: space-between
            position: relative
            &__mozaica
                margin-left: 3rem
                margin-right: 0
            &__checks
                position: absolute
                left: 3rem
                bottom: -6rem
            &__submit
                width: 13.64rem
                height: 3.5rem
                background-color: $yellow
                outline: none
                border: none
                border-radius: 30px
                color: #1e1c34
                font-family: 'Roboto-Bold'
                font-size: 0.857rem
                font-weight: 700
                line-height: 1.574rem
                text-transform: uppercase
                position: absolute
                right: 3rem
                bottom: -3rem
                &__mozaica
                    position: relative
                    margin-top: -3rem
                &:hover                    
                    background-color: rgba($yellow, 0.2) 
                    border: 1px solid $yellow
            &__checkbox
                color: #94939a
                font-family: 'Roboto-Light'
                font-size: 0.785rem
                font-weight: 300
                line-height: 1.574rem
                text-transform: uppercase
            &__radio
                padding: 1rem 2rem
                font-size: 0.857rem
                font-weight: 400
                line-height: 1.574rem
                font-family: 'Roboto-Regular'
                text-transform: uppercase
                color: #1e1c34
                border: 1px solid #1e1c34
                border-radius: 30px
                &__mozaica
                    border-radius: 0
                    text-align: center
                    padding: 1.5rem 2rem
                    margin-right: 0.5rem
                    &__label
                        display: block
                        margin: -0.5rem
                        &__2
                            text-transform: none
                &:hover
                    background-color: $yellow
                    cursor: pointer
            &__check
                font-size: 1.14rem
                line-height: 1.57rem
                color: #2e2e2e
                font-family: 'Roboto-Medium'
                font-weight: 500
                &__adress
                    font-family: 'Roboto-Light'
                    font-weight: 300
                    margin-left: 2rem
            &__input
                width: 35.57rem
                height: 3.214rem
                padding-left: 2rem
                border-radius: 30px
                outline: none
                border: 1px solid #b7b7b7
                margin-bottom: 0.2rem 
                margin-top: 1rem
                &__mozaica
                    width: 95%
.agree
    display: flex
    justify-content: space-between
    margin-top: 2rem
[type="radio"] 
    display: none
.radio
    margin-bottom: 1.928rem
.check
    margin-bottom: 1.57rem
.place_holder 
  cursor: text   
  position: absolute
  top: 2.3rem
  left: 2.2rem
  display: none
  color: lightgrey
.cont input:invalid + .place_holder 
   display: inline
.cont 
  position: relative
  overflow: hidden
.place_holder span 
  color: $yellow

.section__cards__text__radio--active
    background-color: $yellow
    cursor: pointer
.radio
    &__mozaica
        display: flex

