.footer
    // padding-left: 5rem
    // padding-right: 5rem
    margin-top: -1rem
    background-color: $footer
    display: flex
    flex-direction: column
    &__check
        margin-top: -1rem
    &__menu
        padding-top: 3.785rem
        display: flex
        justify-content: space-between  
        margin-top: -1rem
        &__logo
            margin-top: 1rem   
        &__call
            display: flex
            flex-direction: column
            margin-top: 1rem
            &__btn
                margin-top: 2rem
        &__list
            list-style-type: none
            color: $light
            font-size: 1.14rem
            font-family: 'Roboto-Light'
            font-weight: 300
            &__li
                margin-bottom: 0.5rem
                font-size: 1rem
                &__href
                    text-decoration: none
                    color: $light
                    cursor: pointer
            &__title
                font-size: 1.14rem
                color: $yellow
                font-weight: 700
                font-family: 'Roboto-Bold'
        &__clubs
            &__check
                color: $light
                font-size: 1rem
                font-weight: 300
                line-height: 1.428rem
                font-family: 'Roboto-Medium'
                font-weight: 500
                &__adress
                    color: $light
                    font-family: 'Roboto-Light'
                    font-weight: 300
                    margin-left: 2rem
.span    
    margin-left: 2rem
    &-footer
        margin-left: 4.5rem



