.swiper
    &-wrapper
        position: relative
    &-container
        &-s3  
            margin-top: 2.214rem
            // padding-bottom: 1rem
            position: relative
    &-slide
        &-galery
            position: relative
            display: flex
            justify-content: center
            align-items: center
            // top: -2rem
    &-pagination
        outline: none
.section
    &__photoes
        background: url('../img/background/background-photoes.jpg') no-repeat center
        margin-top: -2.8rem
        &__mozaica
            // margin-top: 15rem
