.swiper
    &-container
        &-s3 
            background: url('../img/background/background-photoes.jpg') no-repeat center
            margin-top: 2.214rem
    &-slide
        position: relative
        display: flex
        justify-content: center
