html 
    font-size: 14px
.header
    background:  url('../img/background/mountain.jpg') no-repeat center 
    background-size: cover
    position: relative
    &__slider
        position: absolute
        bottom: 4rem
        left: 52rem
    &__menu
        margin-top: -0.7rem
        font-family: 'Roboto-Regular'
        list-style-type: none
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        background-color: $bg
        text-transform: uppercase
        padding-top: 1rem 
        padding-bottom: 1rem
        &__list
            text-decoration: none
            color: $light
            font-size: 1rem
            font-weight: 400
            line-height: 1.285rem
            margin-right: 2.5rem
            margin-left: 2.5rem
    &__cap
        font-family: 'Roboto-Bold'
        display: flex
        justify-content: space-around
        background: url('../img/background/cap-background.jpg') no-repeat center
        background-size: cover
        &__img
            margin-top: 2.3rem 
            margin-bottom: 2.3rem
            margin-left: 10rem
        &__list
            display: flex
            justify-content: space-around
            align-items: center
            &__btn
                text-transform: uppercase
                color: $yellow
                position: relative
                font-weight: 700
                font-size: 0.857rem
                border: 1px solid $yellow
                border-radius: 30px
                padding: 1.28rem 2.428rem 1.28rem 4.07rem 
                &::before
                    content: ''
                    width: 0.714rem
                    height: 0.714rem
                    border-bottom: 2px solid $yellow
                    border-right: 2px solid $yellow
                    transform: rotate(45deg)
                    position: absolute
                    left: 2rem
                    top: 1.1rem
            &__logo
                margin-left: 5.785rem
                margin-right: 1rem
            &__text
                max-width: 8.785rem
                color: $light
                font-size: 1rem
                display: inline-block
                margin-right: 5.214rem
            &__phone
                font-family: 'Roboto-Light'
                color: $light
                font-size: 0.85rem
                display: inline-block
                margin-right: 1.57rem
                &__tel
                    text-decoration: none
                    color: $light
                    font-size: 1.357rem
            &__call        
                outline: none
                text-transform: uppercase
                font-size: 0.857rem
                width: 11.428rem
                padding: 1.2rem 
                background-color: $yellow
                border-color: $yellow
                border-radius: 30px
                margin-right: 7rem
                &:hover
                    background-color: rgba($rgba, 0.2) 
                    color: $light
    &__main
        display: flex
        justify-content: space-between
        align-items: center
        &__people
            margin-right: 0
            margin-left: -5rem
        &__text      
            margin-top: -3.2rem      
            margin-left: 15.4rem
            line-height: 1.285rem
            text-transform: uppercase
            font-weight: 300
            &__info
                display: flex
                flex-direction: column
                margin-bottom: 2.14rem
                font-family: 'Roboto-Light'
                &__up
                    font-size: 3.428rem
                    color: $light
                    margin-bottom: 3rem
                &__middle
                    font-size: 5.14rem
                    margin-bottom: 3rem
                    &--yellow
                        color: $yellow
                &__down
                    font-family: 'Roboto-Regular'   
                    font-size: 3.428rem
                    font-weight: 400
                    color: $light
            &__call
                font-family: 'Roboto-Light'
                font-size: 1.714rem
                font-weight: 300
                line-height: 2rem
                text-transform: uppercase
                color: $light
                &__tel
                    font-family: 'Roboto-Bold'
                    font-weight: 500
.swiper
    &-container
        margin-top: -1rem
    &-pagination
        margin-bottom: 4rem
    &__pagination
        &__img
            &__galery
                margin-bottom: -2rem
    



		


