html 
    font-size: 14px
.headder
    background: url('../img/mozaika/header/background.jpg') no-repeat center
    background-size: cover
.header
    background:  url('../img/background/mountain.jpg') no-repeat center 
    background-size: cover
    &__list
        position: relative
        margin-left: 4rem
        &:hover
            .header__cap__list__btn::before
                border-bottom: 2px solid black
                border-right: 2px solid black
    &__check        
        display: flex
        flex-direction: column
        justify-content: space-around
        display: none
        cursor: pointer
        background-color: $yellow
        position: absolute
        top: 1rem
        left: 0
        z-index: 3
        padding: 1.785rem 0px 0.36rem 2.14rem
        border-radius: 0 0.36rem 0.36rem 0.36rem
        width: 17.14rem
    &__menu
        font-family: 'Roboto-Regular'
        list-style-type: none
        display: flex
        justify-content: space-between
        align-items: center
        text-transform: uppercase
        padding-top: 1rem 
        padding-bottom: 1rem
        position: relative
        &_1
            font-family: 'Roboto-Regular'
            list-style-type: none
            text-transform: uppercase
            padding-top: 1rem 
            position: relative
            padding-right: 2rem
        &__mozaica
            font-family: 'Roboto-Regular'
            list-style-type: none
            display: flex
            justify-content: space-between
            align-items: center
            text-transform: uppercase
            padding-top: 1rem 
            padding-bottom: 1rem
            position: relative
            &_1
                font-family: 'Roboto-Regular'
                list-style-type: none
                text-transform: uppercase
                padding-top: 1rem 
                position: relative
        &__list
            text-decoration: none
            color: $light
            font-size: 1rem
            font-weight: 400
            line-height: 1.285rem
            &:hover
                color: lightgrey
            &_1
                text-decoration: none
                color: $light
                font-size: 1.5rem
                font-weight: 400
                line-height: 1.285rem
                margin-left: 7rem
                margin-bottom: 1.5rem
                &:hover
                    color: lightgrey
        &__clubs
            &__check
                text-decoration: none
                margin-left: 0.3rem
                color: $black
                font-size: 1rem
                font-weight: 300
                line-height: 1.428rem
                font-family: 'Roboto-Medium'
                font-weight: 500
                margin-bottom: 1rem
                &:hover
                    text-decoration: underline
                &_1
                    text-decoration: none
                    margin-left: 0.3rem
                    font-size: 1rem
                    font-weight: 300
                    line-height: 1.428rem
                    font-family: 'Roboto-Medium'
                    font-weight: 500
                    margin-bottom: 1rem
                    color: $yellow
                &__adress
                    font-family: 'Roboto-Light'
                    font-weight: 300
                    &_1
                        font-family: 'Roboto-Light'
                        font-weight: 300
                        color: $light
    &__cap
        font-family: 'Roboto-Bold'
        background: url('../img/background/cap-background.jpg') no-repeat center 
        background-size: cover
        &__img
            margin-top: 2.3rem 
            margin-bottom: 2.3rem
            cursor: pointer
            text-decoration: none
        &__list
            display: flex
            justify-content: space-around
            align-items: center
            flex-wrap: wrap
            position: relative
            padding-top: 0
            &__phones
                margin-top: 1.3rem
            &__registration
                display: inline-block
            &__btn
                text-transform: uppercase
                color: $yellow
                position: relative
                font-weight: 700
                font-size: 0.857rem
                border: 1px solid $yellow
                border-radius: 30px
                padding: 1.28rem 2.428rem 1.28rem 4.07rem 
                &::before
                    content: ''
                    width: 0.714rem
                    height: 0.714rem
                    border-bottom: 2px solid $yellow
                    border-right: 2px solid $yellow
                    transform: rotate(45deg)
                    position: absolute
                    left: 2rem
                    top: 1.1rem
                &:hover
                    background-color: $yellow
                    color: $black
            &__logo
                margin-right: 0
            &__text
                text-decoration: none
                cursor: pointer
                max-width: 8.785rem
                color: $light
                font-size: 1rem
                display: inline-block
                &:hover
                    color: lightgrey
            &__phone
                position: relative
                display: inline-block
                font-family: 'Roboto-Light'
                color: $light
                font-size: 0.85rem
                &__tel
                    text-decoration: none
                    color: $light
                    font-size: 1.357rem
                    font-weight: 700
                    line-height: 1.714rem
                    outline: none
                    cursor: pointer
                    &:hover
                        color: lightgrey
            &__call      
                cursor: pointer  
                outline: none
                text-transform: uppercase
                font-size: 0.857rem
                width: 11.428rem
                padding: 1.2rem 
                background-color: $yellow
                border: 1px solid $yellow
                border-radius: 30px
                margin-left: 1rem
                position: relative
                top: -0.7rem
                &:hover
                    background-color: rgba($rgba, 0.2) 
                    border: 1px solid $yellow
                    color: $light
    &__main
        display: flex
        justify-content: center
        align-items: center
        margin-top: 1rem
        &__mozaica
            // justify-content: space-around
        &__people
            z-index: 3
            margin-right: -25rem
            margin-top: 1rem
            &__mozaica
                margin-right: 0
                margin-top: 1rem
        &__text      
            line-height: 1.285rem
            text-transform: uppercase
            font-weight: 300
            margin-top: -1rem
            &__info
                display: flex
                flex-direction: column
                margin-bottom: 2.14rem
                font-family: 'Roboto-Light'
                &__border
                    position: relative
                    margin-top: -3rem
                    &__title
                        position: absolute
                        display: flex
                        flex-direction: column
                &__up
                    font-size: 3.428rem
                    color: $light
                    margin-bottom: 3rem
                &__middle
                    font-size: 5.14rem
                    margin-bottom: 3rem
                    &--yellow
                        color: $yellow
                &__down
                    font-family: 'Roboto-Regular'   
                    font-size: 3.428rem
                    font-weight: 400
                    color: $light
            &__call
                margin-top: 3rem
                font-family: 'Roboto-Light'
                font-size: 1.714rem
                font-weight: 300
                line-height: 2rem
                text-transform: uppercase
                color: $light
                &__tel
                    font-family: 'Roboto-Bold'
                    font-weight: 500
.swiper
    &-container
        margin-top: -1rem
    &-pagination
        margin-bottom: 2rem
        &-header
            margin-bottom: 4rem
    &__pagination
        &__img
            display: inline-block
            width: 1.57rem
            border-radius: 5px
            height: 4px
            background-color: $light
            margin-right: 0.3rem
            &:hover
                background-color: $yellow
            &--active
                background-color: $yellow
            &__galery
                margin-bottom: -2rem
.container
    width: 85%
    max-width: 1256px
    margin: auto
    overflow: hidden
.container
    width: 85%
    max-width: 1256px
    margin: auto
    height: 100%
.header__list:hover .header__check
    display: flex
    position: absolute
    z-index: 3
.menu
    background: url('../img/background/menu_background.jpg') no-repeat center
    margin-top: -1rem
.people
    display: flex
    justify-content: space-around
    &__text
        color: $yellow
        text-transform: uppercase
        align-items: center
        margin-top: 10rem
        font-size: 3.5rem
        text-align: center
.mozaika__address
    margin-top: 1rem
.list
    display: flex
    &__span
        width: 3rem
        height: 3rem
        border: 2px solid $yellow
        border-radius: 50%
        position: relative
        left: -1rem
        top: 0.5rem
        &::after
            content: ''
            width: 0.714rem
            height: 0.714rem
            border-bottom: 2px solid $yellow
            border-right: 2px solid $yellow
            transform: rotate(45deg)
            position: absolute
            left: 1.05rem
            top: 1rem
.header__list:hover .shchelkovo__address 
  display: flex
  position: absolute
  z-index: 3
.shchelkovo__address 
  display: flex
  flex-direction: column
  justify-content: space-around
  display: none
  cursor: pointer
  background-color: $yellow
  position: absolute
  top: 4rem
  left: 3rem
  z-index: 3
  padding: 1.785rem 0px 0.36rem 2.14rem
  border-radius: 0.36rem
  width: 16.14rem
.people_2_club
    display: flex
    justify-content: center
    top: 4rem
.people_3_club
    display: flex
    justify-content: center
    top: 4rem
.people_4_club
    display: flex
    justify-content: center
    top: 2rem
